<!DOCTYPE html>
<html lang="en">

<!-- header -->
<%- include('./partials/header') %>
<!-- header -->

<body>
    
            <article class="container products-wrapper">
                <h2 class= products-title ><%= listaBuzos.nombre_producto %> </h2>
                <div class="products-wrap"> 
                        
                    <p class="product-detail-description">
                      <a  href="/product/edit/<%=listaBuzos.id%>"> Editar producto </a> 
                    </p>
                  
               
               </div>
            </article>

            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                    <img src="/images/buzos/<%= listaBuzos.image %>" alt="" class="product-detail-img">
          
                                <article class= "product-detail-datos" >
                                <p>Fecha de creación: <%= listaBuzos.created_at%></p> 
                                <p>Descripción: <%= listaBuzos.comentario %></p>
                                </article>
                            </article>               
                    <div class="col-12 col-lg-4">
                                        <section class="comments">
                                            <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                                            <% for(let i=0; i<listaBuzos.length; i++){ %>
                                               <p> <%= listaBuzos.length[i].coment_text %></p>
                                            <% } %>
                                         </section>
                                            
                                  
                                                </div>
                                            </article> 
                                           
              </div>
              <section class= "botones">
                  <form action="/product/destroy/<%= listaBuzos.id %>" method="POST">
                    <button type="submit" class="buy-now-button" > Borrar producto </button></a> </form> 
                    <a class="buy-now-button" href="/product/add">Agregar buzo nuevo </button> </a>
             
        </section>
           </div>
          
                    
            </article>
     
    

    </div>
    </div>

<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>
</html>