<!DOCTYPE html>
<html lang="en">

<!-- header -->
<%- include('./partials/header') %>
<!-- header -->

<body>
    
            <article class="container products-wrapper">
                <h2 class= products-title ><%= listaBuzos.nombre_producto %> </h2>
                <div class="products-wrap"> 
               <!--  <p class="product-detail-description">
                <p><%= listaBuzos.id %></p>
                <img src="/images/<%= listaBuzos.image %>" alt="Buzo Ambar">
                <p>Fecha de creación: <%= listaBuzos.fecha_creacion%></p>
                <p>Comentario: <%= listaBuzos.comentario %></p>
                    <a href="/productedit">Editar producto</a> -->
         
                <p class="product-detail-description">
                    <a href="/users">Agregar a mis productos</a>
                </p>
               </div>
            </article>

            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                    <img src="/images/<%= listaBuzos.image %>" alt="" class="product-detail-img">
                    <!-- <p class="product-detail-description">
                        Buzo corto cómodo para todas las estaciones , adorado por nuestros clientes.</p> -->
                                <p class= "product-detail-description" >
                                <p>Fecha de creación: <%= listaBuzos.fecha_creacion%></p> <form class="form" action="" method="POST">
                    <p>Descripcion: <%= listaBuzos.comentario %></p></article>               
                    <div class="col-12 col-lg-4">
                                        <section class="comments">
                                            <input class="form-input" type="text" value="" placeholder="Agregar comentario"> </section>
                                  
                                                </div>
                                            </article> 
                    
                  <a href="/productedit">   <button type="submit" class="buy-now-button">Editar producto</button></a> 
                </form> </div>
          
                    
            </article>
     
    

    </div>
    </div>

<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>
</html>