<!DOCTYPE html>
<html lang="en">

<!-- header -->
<%- include('./partials/header') %>
<!-- header -->

<body>
    
        <% for (let i=0; i<listaBuzos.length; i++) { %> 
            <article class="container products-wrapper">
                <h2 class= products-title ><%= listaBuzos[i].nombre_producto %> </h2>
                <div class="products-wrap"> 
                    <p class="product-detail-description">
                <p>Imagen: <%= listaBuzos[i].image%></p>
                <p>Fecha de creación: <%= listaBuzos[i].fecha_creacion%></p>
                <p>Comentario: <%= listaBuzos[i].comentario %></p>
                    <a href="/productedit">Editar producto</a>
                </p>
                <p class="product-detail-description">
                    <a href="/user">Agregar a mis productos</a>
                </p>
               </div>
            </article>

            <!-- product detail -->
    
        
                 </article>  
                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button"> Agrega tu comentario</button>
                </form> </div>
            <iframe width="560" height="315" src='<%= listaBuzos[i].image %>' title="Imagen del buzo"
                    frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> 
                
            </article>
        <% } %> 
    </div>
    </div> 

<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>
</html>