<!DOCTYPE html>
<html lang="en">

<!-- header -->
<%- include('./partials/header') %>
<!-- header -->

<body>
    
        <% for (let i = 0; i < buzos.length; i++) { %> 
            <article class="container products-wrapper">
                <h2 class= products-title ><%= buzos[i].nombre %> </h2>
                
               
            	<div class="product-detail">
                    <div class="row">
                        <article class="col-12 col-lg-8 product-detail-info">
                            <img src="<%= buzos[i].imagen %> " alt="" class="product-detail-img">
                            <p class="product-detail-description">
                                Descripción corta del producto..</p>
                                <p class= "product-detail-description" >Talle <a href="/buzos/talle/<%= buzos[i].talle%>"><%= buzos[i].talle%></a></p> 
                                 <form class="form" action="" method="POST">
                                    <div class="col-12 col-lg-4">
                                        <section class="comments">
                                            <article>
                                                <img src="https://via.placeholder.com/35" alt="">
                                                <div class="data">
                                                    <p class="user">
                                                    <strong> <a href="user.ejs">Nombre usuario: </a> </strong>
                                                     Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa mollitia odit inventore consequuntur.</p>
                                                </div>
                                            </article>
                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button"> Agrega tu comentario</button>
                </form> </div>
            <!-- <iframe width="560" height="315" src='<%= buzos[i].imagen %>' title="Imagen del buzo"
                    frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe> -->
                
            </article>
        <% } %> 
    

        }
   
<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>
</html>