<!DOCTYPE html>
<html lang="en">

<!-- header -->
<%- include('./partials/header') %>
<!-- header -->

<body>
    <h1> Listado de <%= title %>.</h1>
    
        <% for (let i = 0; i < buzos.length; i++) { %> 
            <article>
                <h2><%= buzos[i].nombre %> </h2>
                <p>Talle <a href="/buzos/talle/<%= buzos[i].talle%>"><%= buzos[i].talle%></a></p>
                <p><%= buzos[i].imagen %> </p>
                <ul>
           
                </ul>
                <iframe width="560" height="315" src='<%= buzos[i].imagen %>' title="Imagen del buzo"
                    frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                
            </article>
        <% } %> 
    

        }
   
<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>
</html>