<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <h1> Listado de <%= title %>.</h1>
    
        <%= for (let i = 0 i < buzos.length;i++) { %> 
            <article>
                <h2><%= buzos[i].nombre %> </h2>
                <p>Nombre: <%=bandas[i].integrantes %></p>
                <p>Talle: <a href="/buzos/nombre/<%= buzos[i].nombre%>"><%= buzos[i].nombre%></a></p>
                <p>Precio:</p>
                <ul>
           
                </ul>
                <iframe width="560" height="315" src='<%= buzos[i].imagen %>' title="Imagen del buzo"
                    frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                
            </article>
        <% } %> 
    

        }
   

</body>
</html>