<!DOCTYPE html>
<html lang="es">

<!-- header -->
<%- include('./partials/header') %>

<!-- header -->

 <body>
    <h1 class="buzosTitle">Listado de <%= title %></h1>
	
	<div class="container products-wrapper"> 
		<div class="row"> 
		   <div class="col-12">
			   <h2 class="products-title">Novedades</h2>
		   </div> 
		   <% for(let i=0; i<listaBuzos.length; i++){ %>
			<div class="col-12 col-sm-6 col-lg-3">
			   <section class="product-box">
				   <a href="/product/id/<%= listaBuzos[i].id %>">
					   <figure class="product-box_image">
						   <img src="images/<%= listaBuzos[i].image %>" alt="">
					   </figure>
					   <article class="product-box_data">
						   <h2><%= listaBuzos[i].nombre_producto %> </h2>
						   <p><%= listaBuzos[i].comentario %></p>
						   <p>Comentarios: 12</p>
					   </article>
				   </a>
			   </section>
		   </div> 
		   <% } %>
	   </div>
   </div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>