<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <h1> Listado de <%= title %>.</h1>
    
        <%= for (let i = 0 i < buzos.length;i++) { %> 
            <article>
                <h2><%= buzos[i].nombre %> </h2>
                <p>Nombre: <%=bandas[i].integrantes %></p>
                <p>Talle: <a href="/bandas/genre/<%= bandas[i].genero%>"><%= bandas[i].genero%></a></p>
                <p>Precio:</p>
                <ul>
                    <!-- Todo: final de la clase     -->
                </ul>
                <iframe width="560" height="315" src='<%= bandas[i].video %>' title="YouTube video player"
                    frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                
            </article>
        <% } %> 
    

        }
   

</body>
</html>