<!DOCTYPE html>
<html lang="en">
<!-- header -->
<%- include('./partials/header') %>
<!-- header -->
<body>

    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar productos</h2>
              <!--<a href="/productedit">Buzos nuevos</a>-->  
			</div>
			
			
                <article class="formulario">			
                    <form action="/product/edit" method="POST">
                    
                        <label class="form-label">Nombre del producto:</label>
                        <input class="form-input" type="text" name="nombre" value="<%= listaBuzos.nombre_producto %> ">
                        <label class="form-label">Adjuntar imagen:</label>
                        <p><input type="file" name="avatar"></p> 
                        <label class="form-label">Descripción:</label>
                        <input class="form-input" type="text" name="descripcion" value="<%= listaBuzos.comentario %> ">
                        <input type="hidden" name="id" value="<%= listaBuzos.id %> ">
                        <button class="login" type="submit">
                            Editar Buzo <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                  
            </article>
        </div>
    </div>
		

            	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>