<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>
	
<body>
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Editar usuario</h2>
				</div>
<article class="formulario">			
	<img class="avatar" src="/images/avatar/<%= user.avatar %> " alt="">
    <form action="/users/edit" method="POST" >
	<li>
	<label class="form-label">Cambiar nombre</label>
	<input class="form-input" type=“text” name="nombreUsuario" value="<%= user.nombre %>">
	<label class="form-label">Cambiar email  </label>
	<input class="form-input" type=“email” name="mail" value="<%= user.email %>">
	<label class="form-label">Modificar fecha de nacimiento</label>
	<input class="form-input" type="date" name="nacimiento" value="<%= user.fecha_nacimiento %>">
	<label class="form-label">Cambiar contraseña:</label>
	<input class="form-input" type="password" name="contrasena">
	
	<button class="login" type="submit">
		Change <i class="fas fa-sign-in-alt"></i>
	</button>
</li> 

</form>
</article>
</div>
</div>


	<%- include('./partials/footer') %>
	
</body>	
</html>